<li>
    <p>
        <!-- For deleting the comment we require two checks that the user is signed in and the user deleting the comment is the owner of the comment -->
        <% if (locals.user && locals.user.id == comment.user.id) { %>
        <small>
            <a href="/comments/destroy/<%= comment._id %>">X</a>
        </small>
        <%} %>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
</li>