<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header'); %>

        <!-- Variable Content that we want to show -->
        <%- body %>

        <%- include('_footer'); %>
    </body>
</html>