<div>
    <p> <%= comment.user.name %></p>
    <br/>
    <br/>
    <p> Your comment <strong><%= comment.content %></strong> just get published on codieal </p>
    <br/>
    <br/>
    <p>Thanks!</p>
</div>