footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  bottom: -1000vh;
  width: 100%;
  background-color: grey;
  color: white; }
  footer a {
    color: white;
    text-decoration: none;
    display: block; }
  footer #left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 32%; }
